/* CSS BY SYDNEY RUSH */
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ROOT VARIABLES */
:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
}

/* GLOBAL STYLES (mobile first/small) */
/*-----header styles-----*/
body {
    font-family: 'Playfair Display', serif;
    background-color: var(--soft-white);
    color: var(--dark-charcoal);
    
}
header img.logo {
    width: 10em;
    height: auto;
    display: block;
    margin: 0 auto 0 auto;
}
header{
    text-align: center;
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    padding-top: 20px;
}
h1 {
    font-size: 3em;
}
header p {
    font-size: 1em;
    font-style: italic;
    padding: 10px 0;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    padding: 15px 0;
    background-color: var(--champagne-gold);
    font-size: 1.5em;
}
nav a {
    color: var(--midnight-blue);
    text-decoration: none;
}
/*-----main styles-----*/
main{
    padding: 20px 20px 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
h2 {
    font-size: 2em;
    color: var(--midnight-blue);
    margin-bottom: 10px;
}
h2 p{
    font-size: 1.2em;
    color: var(--dark-charcoal);
    
}
#about { 
    padding: 20px 0;
    border-bottom: var(--champagne-gold) 1px solid;
}
#offerings {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px 0;
    border-bottom: var(--champagne-gold) 1px solid;
}
#offerings section {
    background-color: var(--olive-green);
    padding: 20px;
    border-radius: 10px;
    color: var(--soft-white);
    
}
h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
}
#offerings ul{
    list-style: disc; 
    list-style-position: inside;
    padding-bottom: 10px;
}

    
/* MEDIA QUERY (medium) */
/* MEDIA QUERY (large) */
/* MEDIA QUERY (xl) */