/* CSS BY SYDNEY RUSH */
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ROOT VARIABLES */
:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
}

/* GLOBAL STYLES (mobile first/small) */
/*-----header styles-----*/
body {
    font-family: 'Playfair Display', serif;
    background-color: var(--soft-white);
    color: var(--dark-charcoal);
    
}
header img.logo {
    width: 10em;
    height: auto;
    display: block;
    margin: 0 auto 0 auto;
}
header{
    text-align: center;
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    padding-top: 20px;
}
h1 {
    font-size: 3em;
}
header p {
    font-size: 1em;
    font-style: italic;
    padding: 10px 0;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    padding: 15px 0;
    background-color: var(--champagne-gold);
    font-size: 1.5em;
}
nav a {
    color: var(--midnight-blue);
    text-decoration: none;
}
/*-----main styles-----*/
main{
    
    padding: 20px 20px 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
h2 {
    font-size: 2em;
    color: var(--midnight-blue);
    margin-bottom: 10px;
}
h2 p{
    font-size: 1.2em;
    color: var(--dark-charcoal);
    
}
#about { 
    padding: 20px 0;
    border-bottom: var(--champagne-gold) 1px solid;
}
#offerings {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px 0;
    border-bottom: var(--champagne-gold) 1px solid;
}
#offerings section {
    background-color: var(--olive-green);
    padding: 20px;
    border-radius: 10px;
    color: var(--soft-white);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    
}
h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
}
#offerings ul{
    list-style: disc; 
    list-style-position: inside;
    padding-bottom: 10px;
}
#gallery{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px 0;
    justify-items: center;
    border-bottom: var(--champagne-gold) 1px solid;
}
#gallery figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: var(--soft-white);
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    width:100%;
    height: auto;

}
#gallery div.figure-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width:100%;
}
#gallery figure img{
  width: 100%;
  height: auto;
  display: block;
}
#gallery figcaption{
    font-size: 0.9em;
    color: var(--dark-charcoal);
    font-style: italic;
    padding: 10px 0; 
}
#gallery a{ 
    width:90%;
    padding: 10px 20px;
    background-color: var(--olive-green);
    color: var(--soft-white);
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

/*-----footer styles-----*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    padding: 20px 0;
}
footer address, footer p {
    font-size: 0.9em;
    color: var(--soft-white);
    text-decoration: none;
    margin: 5px 0;
}
footer a{
    font-size: 0.9em;
    color: var(--champagne-gold);
    text-decoration: none;
    margin: 5px 0;
}
footer p a {
    font-size: 0.9em;
    color: var(--champagne-gold);
    margin: 5px 0;
}

footer div{
    margin: 20px 0;
    padding: 10px 0;
}



/* MEDIA QUERY (medium) */
@media screen and (min-width: 600px) {
    #offerings {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "h2 h2"
            "a b"
            "c c";
        gap: 20px;
    }

    #offerings h2 {
        grid-area: h2;
    }

    #offerings section:nth-of-type(1) {
        grid-area: a;
    }

    #offerings section:nth-of-type(2) {
        grid-area: b;
    }

    #offerings section:nth-of-type(3) {
        grid-area: c;
    }
    

}

@media screen and (min-width: 600px) {
    #offerings {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "h2 h2"
            "a b"
            "c c";
        gap: 20px;
    }

    #offerings h2 {
        grid-area: h2;
    }

    #offerings section:nth-of-type(1) {
        grid-area: a;
    }

    #offerings section:nth-of-type(2) {
        grid-area: b;
    }

    #offerings section:nth-of-type(3) {
        grid-area: c;
    }
    



    #gallery div.figure-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        gap: 20px;
    }
}

/* MEDIA QUERY (large) */

/* MEDIA QUERY (xl) */